
#container {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:300px;
}

canvas {
    position:absolute;
    top:0px;
    left:0px;
    border:1px solid;
}



#menu-pause {
    position:absolute;
    top:100px;
    left:100px;
    width:200px;
    padding:0px;
    margin:0px;
    list-style-type: none;
    background-color:rgba(0,0,128,0.6);
    border-radius: 8px;
}

.menu-items {
    padding:0px;
}

.menu-items li{
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgba(0,0,180,0.7);
    font-family: sans-serif;
    color: #FFF;
    width:86%;
    margin-left:7%;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid #00F;
    border-radius: 8px;
}

.menu-items li:hover{
    background-color:rgba(0,0,128,1);        
}

#menu-game-over {
    position:absolute;
    display:block;
    top:100px;
    left:100px;
    width:200px;
    padding:0px;
    margin:0px;
    list-style-type: none;
    background-color:rgba(0,0,128,0.6);
    border-radius: 8px;
    font-family:sans-serif;
    color:white;
}
#menu-game-over h1,h2 {
    text-align:center;
}

